.btn-primary{background:#002db3;color:white;text-decoration:none !important}
.btn-primary:hover{background:#0d6efd;text-decoration:none !important}
.text-highlight{color:#002db3  !important }
.theme-check-icon{color:#002db3 !important}
.data{font-weight:bold;font-size:2.5rem;color:#0d6efd  !important}
.module-toggle-icon{color:#002db3 !important;}
.quote-icon-path{fill:#002db3  !important}
.review-item .item-promo{background:#002db3;color:#fff !important}
.btn-ghost{background:white;color:#002db3;border:2px solid #002db3;text-decoration:none !important}
.btn-ghost:hover{background:white; color:#002db3;border:2px solid #002db3;text-decoration:none !important}
.text-primary{color:#002db3 !important}

